.u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 53px 30px 22px;
}

.u-section-1 .u-icon-1 {
  height: 76px;
  width: 82px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 146px auto 0 210px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 19px 0 0 7px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 22px 19px 0 26px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  object-position: 100% 50%;
  height: 323px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  width: 525px;
  margin: 96px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 515px;
    pointer-events: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 104px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 515px;
    pointer-events: auto;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    height: 318px;
    width: 517px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 26px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 32px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-left: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-1 .u-image-1 {
    height: 244px;
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 104px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-1 .u-image-1 {
    height: 209px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 454px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 48px auto 40px 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 29px 30px;
}

.u-section-2 .u-icon-1 {
  height: 87px;
  width: 87px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 0 11px;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 29px 30px;
}

.u-section-2 .u-icon-2 {
  height: 87px;
  width: 87px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 0 11px;
}

.u-section-2 .u-container-layout-3 {
  padding: 17px 29px 30px;
}

.u-section-2 .u-icon-3 {
  height: 87px;
  width: 87px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 0 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 399px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 544px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 790px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-gallery-1 {
  width: 715px;
  height: 420px;
  grid-gap: 10px 10px;
  margin: 75px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-1 {
  background-image: none;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-3 {
  background-image: none;
}

.u-section-3 .u-over-slide-3 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-4 {
  background-image: none;
}

.u-section-3 .u-over-slide-4 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-5 {
  background-image: none;
}

.u-section-3 .u-over-slide-5 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-6 {
  background-image: none;
}

.u-section-3 .u-over-slide-6 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-7 {
  background-image: none;
}

.u-section-3 .u-over-slide-7 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-8 {
  background-image: none;
}

.u-section-3 .u-over-slide-8 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  width: 715px;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-3 .u-text-3 {
  width: 715px;
  font-weight: 700;
  margin: 20px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3 .u-text-3 {
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1165px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1157px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0 43px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 110px 74px 0 83px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 32px 100px 0 57px;
}

.u-section-4 .u-gallery-1 {
  width: 576px;
  height: 437px;
  grid-gap: 10px 10px;
  margin: 184px 33px 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  background-image: none;
  padding: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  background-image: none;
  padding: 0;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1157px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-4 .u-image-1 {
  width: 480px;
  height: 480px;
  background-image: url("images/code.PNG");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 95px auto 0 -69px;
}

.u-section-4 .u-group-1 {
  min-height: 463px;
  background-image: none;
  width: 517px;
  margin: 42px auto 0 14px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 0 42px 0 78px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 14px 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 1256px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1256px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 27px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 76px;
    margin-right: 66px;
    margin-left: 26px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 85px;
    margin-left: 19px;
  }

  .u-section-4 .u-gallery-1 {
    width: 478px;
    margin-top: 165px;
    margin-right: 15px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-group-1 {
    min-height: 579px;
    width: 439px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 39px;
    margin-right: 3px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 21px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1253px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1152px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 110px;
    margin-right: 27px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 22px;
    margin-right: 49px;
    margin-left: 49px;
  }

  .u-section-4 .u-gallery-1 {
    width: 337px;
    height: 403px;
    margin-top: 39px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1152px;
  }

  .u-section-4 .u-image-1 {
    width: 336px;
    height: 336px;
    margin-top: 98px;
    margin-left: -38px;
  }

  .u-section-4 .u-group-1 {
    width: 336px;
    margin-top: 39px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 15px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 27px;
    margin-bottom: -107px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1646px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin: 78px auto 36px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 925px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-control-1 {
    top: 175px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 175px;
    right: -8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 346px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 71px;
  }

  .u-section-4 .u-text-4 {
    margin: 34px 15px 0 22px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1597px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1057px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-4 .u-group-1 {
    min-height: 483px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 516px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1167px;
  margin: -7px 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 525px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  min-height: 463px;
  background-image: none;
  width: 517px;
  margin: 0 auto 0 14px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 42px 0 78px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 14px 14px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 525px;
}

.u-section-5 .u-container-layout-3 {
  padding: 23px 0 0;
}

.u-section-5 .u-gallery-1 {
  height: 460px;
  grid-gap: 10px 10px;
  width: 533px;
  margin: 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -22px;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 5px;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 5px;
}

.u-section-5 .u-over-slide-3 {
  background-image: none;
  min-height: 100px;
  padding: 5px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-5 .u-group-1 {
    min-height: 579px;
    width: 439px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 39px;
    margin-right: 3px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-5 .u-gallery-1 {
    height: 423px;
    width: 415px;
    margin-left: 18px;
  }

  .u-section-5 .u-carousel-indicators-1 {
    bottom: 14px;
  }

  .u-section-5 .u-carousel-control-1 {
    width: 34px;
    height: 34px;
  }

  .u-section-5 .u-carousel-control-2 {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -104px;
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-5 .u-group-1 {
    width: 336px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 27px;
    margin-left: 15px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-gallery-1 {
    width: 362px;
    margin-top: 87px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -180px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 19px;
  }

  .u-section-5 .u-group-1 {
    min-height: 346px;
    margin-top: 11px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-carousel-control-1 {
    top: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-5 .u-group-1 {
    min-height: 351px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-5 .u-gallery-1 {
    height: 390px;
    margin-top: 7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-over-slide-1 {
    padding: 10px;
  }

  .u-section-5 .u-over-slide-2 {
    padding: 10px;
  }

  .u-section-5 .u-over-slide-3 {
    padding: 10px;
  }

  .u-section-5 .u-carousel-control-1 {
    width: 36px;
    height: 36px;
    top: 193px;
  }

  .u-section-5 .u-carousel-control-2 {
    width: 36px;
    height: 36px;
    top: 193px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 530px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1167px;
  margin: -7px -27px 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 539px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-group-1 {
  min-height: 477px;
  background-image: none;
  width: 517px;
  margin: 0 auto 0 14px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  margin: 0 6px 0 2px;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 14px 14px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 525px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-6 .u-gallery-1 {
  height: 460px;
  grid-gap: 10px 10px;
  width: 533px;
  margin: 0 auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -22px;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-over-slide-3 {
  background-image: none;
  min-height: 100px;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-over-slide-4 {
  background-image: none;
  min-height: 100px;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-over-slide-5 {
  background-image: none;
  min-height: 100px;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-over-slide-6 {
  background-image: none;
  min-height: 100px;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-over-slide-7 {
  background-image: none;
  min-height: 100px;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-over-slide-8 {
  background-image: none;
  min-height: 100px;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-6 .u-group-1 {
    min-height: 579px;
    width: 439px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 39px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-6 .u-gallery-1 {
    width: 415px;
    margin-left: 18px;
  }

  .u-section-6 .u-carousel-indicators-1 {
    bottom: 14px;
  }

  .u-section-6 .u-over-slide-1 {
    padding: 0;
  }

  .u-section-6 .u-over-slide-2 {
    padding: 0;
  }

  .u-section-6 .u-over-slide-3 {
    padding: 0;
  }

  .u-section-6 .u-over-slide-4 {
    padding: 0;
  }

  .u-section-6 .u-over-slide-5 {
    padding: 0;
  }

  .u-section-6 .u-over-slide-6 {
    padding: 0;
  }

  .u-section-6 .u-over-slide-7 {
    padding: 0;
  }

  .u-section-6 .u-over-slide-8 {
    padding: 0;
  }

  .u-section-6 .u-carousel-control-1 {
    width: 34px;
    height: 34px;
  }

  .u-section-6 .u-carousel-control-2 {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 816px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 754px;
    width: 341px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 27px;
    margin-left: 15px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-gallery-1 {
    width: 362px;
    margin-top: 87px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-bottom: 19px;
  }

  .u-section-6 .u-group-1 {
    min-height: 346px;
    margin-top: 11px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-carousel-control-1 {
    top: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-6 .u-group-1 {
    min-height: 351px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 11px;
    margin-left: 4px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-6 .u-gallery-1 {
    height: 395px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-6 .u-over-slide-2 {
    width: 340px;
  }

  .u-section-6 .u-over-slide-3 {
    width: 340px;
  }

  .u-section-6 .u-over-slide-4 {
    width: 340px;
  }

  .u-section-6 .u-over-slide-5 {
    width: 340px;
  }

  .u-section-6 .u-over-slide-6 {
    width: 340px;
  }

  .u-section-6 .u-over-slide-7 {
    width: 340px;
  }

  .u-section-6 .u-over-slide-8 {
    width: 340px;
  }

  .u-section-6 .u-carousel-control-1 {
    width: 36px;
    height: 36px;
  }

  .u-section-6 .u-carousel-control-2 {
    width: 36px;
    height: 36px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 571px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1167px;
  margin: 0 -27px 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 543px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px 7px 26px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 4px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 543px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 460px;
  grid-gap: 10px 10px;
  width: 533px;
  margin: 0 auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -22px;
}

.u-section-7 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  width: 533px;
  height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 0;
}

.u-section-7 .u-layout-wrap-2 {
  width: 602px;
  margin: -511px auto 30px 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 166px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 166px;
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 106px;
  height: 106px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 166px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 166px;
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 106px;
  height: 106px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 179px;
  background-image: none;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-8 {
  min-height: 179px;
}

.u-section-7 .u-container-layout-8 {
  padding: 31px 30px 30px;
}

.u-section-7 .u-image-3 {
  width: 106px;
  height: 106px;
  margin: 8px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-7 .u-gallery-1 {
    width: 415px;
    margin-top: 76px;
  }

  .u-section-7 .u-carousel-indicators-1 {
    bottom: 14px;
  }

  .u-section-7 .u-over-slide-1 {
    padding: 0;
  }

  .u-section-7 .u-carousel-control-1 {
    width: 34px;
    height: 34px;
  }

  .u-section-7 .u-carousel-control-2 {
    width: 34px;
    height: 34px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 496px;
    margin-top: -502px;
    margin-bottom: 38px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 167px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 167px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 167px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 167px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 182px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 753px;
    margin-right: -33px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 16px;
    padding-left: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-7 .u-gallery-1 {
    height: 432px;
    width: 340px;
    margin-top: 87px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 388px;
    margin-top: -515px;
    margin-bottom: 0;
  }

  .u-section-7 .u-container-layout-8 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1393px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    width: 540px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 19px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: 856px;
    margin-bottom: -780px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-carousel-control-1 {
    top: 181px;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 96px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 205px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 96px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 214px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 43px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 15px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 124px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1287px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-gallery-1 {
    height: 369px;
    margin-top: 816px;
    margin-bottom: -677px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-over-slide-1 {
    width: 340px;
  }

  .u-section-7 .u-carousel-control-1 {
    width: 36px;
  }

  .u-section-7 .u-carousel-control-2 {
    width: 36px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 129px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 135px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 78px;
  }
}